

        <style>
            /* Remove the navbar's default margin-bottom and rounded borders */


                                                    /* Add a gray background color and some padding to the footer */

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <div class="header3"  >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 bounceInLeft">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="wow fadeInUp text-center"> We are ready!</p>
                        <br>
                          <h2 class="fadeInUp text-center">我 们 所 有 的 向 往</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>我 们 的 追 求</h1>
<p>定义新装修，让装修变得更简单，让家变得更温馨<p/>
                </div>
            </div>
            <div class="container-fluid bg-3 ">

                <br>
                <h2 class="text-success">Q1 如何联系到你们公司？</h2>
                <h4>我们的办公地点在合肥市包河区北京路与繁华大道交口水丽坊，您也可以添加我们的微信：13355697105，或关注我们的微信公众号，搜索「安徽同乐建筑装饰有限公司」，选择关注即可。</h4>
                  <hr>
                <br>
                <h2 class="text-success">Q2 你们的施工团队怎么样？</h2>
                <h4>我们的施工团队是一群有着多年经验的工匠，精通装修的相关知识。对我们来说，品质即使生命，我们专注于细节，保质保量，深受业主喜欢。我们的愿景是让装修变得更简单，让家变得更温馨。
</h4>
                  <hr>
                <br>
                <h2 class="text-success">Q3 你们的选材如何？</h2>

                <h4>首先，我们确保的是所有材料均是环保型材，这是我们的基本要求；其次，关于具体的材料是和您一起协商的，由您定制或者我们提供方案，最终双方达成一致意见。</h4>

                <hr>
                <br>
                <h2 class="text-success">Q4 一般装修的工期是多久？</h2>
                <h4>嗯。。。这个得根据您这边的实际情况装修要求来定的</h4>
                <hr>
                <br>
                <h2 class="text-success">Q5 你们售后如何？</h2>
                <h4>我们的售后服务是随时跟进的，一个装修的完工并不意味着结束，后续我们会持续与您保持联系与服务</h4>
                  <hr>
                <br>
              <!-- <h2 class="text-success">Q6 写这个网站，你们用了多长时间？</h2>
                <h4>18天吧，一边学一边写。从接触代码到现在2个月整，在此之前没敲过一行代码。</h4>
                <hr>
                <br>
                <h2 class="text-success">Q7 那么快？假如我也想学这个酷炫的技能呢？</h2>
                <h4>只要肯下功夫，你也可以做到。写这个网站，已经让我们使出洪荒之力了。你现在就可以在我们窗口的右下角，点击客服图标，呼叫我。
                  我们会为你一一作答。 希望能和你成为同学，我们一起来定义中国的编程学习和计算机教育。
                  悄悄讲，全栈工程师名额很紧缺哦。</h4>
                  <h4 class="text-center"><a href="https://fullstack.xinshengdaxue.com/" >新生大学全栈营</a></h4>
                  <hr>
                <br>
                <h2 class="text-success">Q8 哇，好酷炫，我一定要给你们的作品投票，怎么做？</h2>
                <h4>点击下方蓝字直达投票通道，实名制投票，我会记住你并向你表示感谢。<span class="text-danger">有了你的投票让我离大奖又近了一步，所以一定要去投票啊。</span></h4>
                <h4 class="text-center"><a href="https://fullstack.xinshengdaxue.com/works/194" >文志鹏-zion和乌龙明月的作品</a></h4> -->
                <div class="row">
                  <div class="text-center ">
                    <br><br><br>
                      <%= link_to("让家变得更温馨",about_path, class:"btn btn-lg btn-success") %>
                  </div>
                  <hr>
                </div>
            </div>
            <br>
            <br>
            <br>

        </div>
